@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.active {
  color: #1abc9c;
}

.swiper-pagination-bullet {
  background-color: #1abc9c !important;
}

.swiper-pagination-bullet-active {
  background-color: #1abc9c !important; /* Aktif bullet için */
}
